<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="product-gateway" parallel="false" thread-count="2">

    <test name="Test1" >
        <parameter name="Browser" value="chrome" />
        <classes>
            <class name="com.yatou.automation.test.ChromeTest1"/>
        </classes>
    </test>
    <listeners>
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
    </listeners>

</suite> <!-- Suite -->
