<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="product-gateway" parallel="false" thread-count="2">
   <!-- <test name="AdviserTest" >
        <parameter name="username" value="ADVISER_USERNAME"></parameter>
        <parameter name="password" value="ADVISER_PASSWORD"></parameter>
        <groups>
            <dependencies>
                <group name="customerManage" depends-on="login" />
            </dependencies>
        </groups>
        <classes>
            <class name="com.yatou.automation.test.CustomerManagePageTest"/>
            <class name="com.yatou.automation.test.LoginPageTest"/>
        </classes>

    </test>-->
    <test name="DesignerTest" >
        <parameter name="username" value="DESIGNER_USERNAME"></parameter>
        <parameter name="password" value="DESIGNER_PASSWORD"></parameter>
        <!--<parameter name="username" value="ADVISER_USERNAME"></parameter>
        <parameter name="password" value="ADVISER_PASSWORD"></parameter>-->
        <groups>
            <dependencies>
                <group name="measureRegister" depends-on="login" />
                <group name="contractRegister" depends-on="login" />
                <group name="communicationRegister" depends-on="login" />
                <group name="customerManage" depends-on="login" />
            </dependencies>
        </groups>
        <classes>

           <!-- <class name="com.yatou.automation.test.CommunicationRegisterPageTest">
                <methods>
                    <include name="testAddCommunicationRegister"></include>
                </methods>
            </class>-->
            <class name="com.yatou.automation.test.ContractRegisterPageTest">
                <methods>
                   <!-- <include name="testAddContractRegister"></include>-->
                    <!--<include name="testAddSpace"></include>-->
                    <include name="testAddOrder"></include>
                </methods>
            </class>
            <!--<class name="com.yatou.automation.test.MeasureRegisterPageTest">
                <methods>
                    <include name="testAddMeasure"></include>
                </methods>
            </class>-->
           <!-- <class name="com.yatou.automation.test.CustomerManagePageTest">
                <methods>
                    <include name="testAddMeasure"></include>
                </methods>
            </class>-->
            <class name="com.yatou.automation.test.LoginPageTest"/>
        </classes>

    </test>
    <listeners>
        <!-- reportng报告监听器 -->
        <listener class-name="org.uncommons.reportng.HTMLReporter" />
        <listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
        <!-- 失败重跑监听器 -->
        <!-- <listener class-name="com.yatou.automation.listeners.RetryListener" />-->
        <!-- 失败截图监听器 -->
        <listener class-name="com.yatou.automation.listeners.TestNGListener" />
        <!-- 自己实现的extentrepots监听器 -->
        <listener class-name="com.yatou.automation.listeners.extent.ExtentTestNGIReporterListener" />
        <!-- 三方插件实现的extentrepots监听器 -->
        <!-- <listener class-name="com.vimalselvam.testng.listener.ExtentTestNgFormatter" />-->
    </listeners>
</suite> <!-- Suite -->
